<!-- dit is home.html hier zal je komen na de inlogpagina -->
{% extends "navbar.html"%}

{% block content %}
	<div class="col-md-8 col-md-offset-2">
				<div class="alert alert-danger" role="alert"><B>Let op!</b> Deze website is nog maar een testversie en kan niet altijd aan de eisen voldoen
				</div>
		<div class="jumbotron">
			<div class="container">
					<img src="http://www.badeendwinkel.nl/shop/catalog/images/badeendgeeldr1.jpg" />
			</div>
		</div>
	</div>

	* voeg hier een twitter feed in * 
</body>
{% endblock%}

